# Backend Environment Variables
# MODEL_PATH is fixed to model/weights/model.pth
MODEL_URL=
MODEL_CLASS_PATH=model.generator:MitsGanGenerator
MODEL_STRICT=1
ALLOW_PLACEHOLDER_MODEL=0
DEVICE=cpu
MAX_FILE_SIZE=10485760
IMAGE_SIZE=256
CORS_ORIGINS=http://localhost:3000
PASSWORD_SALT=dev-salt
MODEL_INPUT_CHANNELS=1
MODEL_INPUT_RANGE=tanh

# Database
DATA_BACKEND=mongo
MONGO_URI=mongodb+srv://ashokpemeram:As944..@cluster0.kwlwgpg.mongodb.net/
MONGO_DB=secure_hospital
